body {
    background: #BBBBBB;
}

.container {
    background: #EEEEEE;
    padding-top: 2em;
}

.siteheader {
    padding-top: 0;
    background: #BBBBBB;
    color: #333;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
}

.siteheader .title {
    font-size: 3em;
}