{% extends "_root/layouts/layout.jinja2" %}

{% meta %}
{inbound: [root, home],
outbound: {github: 'http://github.com' }}
{% endmeta %}

{% block markdown %}
# Welcome to the Iodine Wiki

Iodine is a project to collect scripts, recipes, and informative posts about Cloud Deployment,
all in one place.

Documents stored in Iodine are in a wiki-like syntax, built with the {% link "lynki" %} static
wiki generating tool.

Iodine is hosted via {% link "github" %} and thus, if you want to edit these pages, you should
follow the usual github process of forking this repository and submitting a pull request back
to the owner(s).

{% endblock %}
