{% extends "_layout/layout.html" %}

{% meta %}
{"inbound": ["home"]}
{% endmeta %}

{% block html %}
  {% markdown %}
# This is the index
  {% link "home" %}
  {% link "content test" %}
  {% endmarkdown %}
{% endblock %}
