{% extends "_root/layouts/layout.jinja2" %}

{% meta %}
{inbound: [root, home]}
{% endmeta %}

{% block html %}
  {% markdown %}
# This is the index
  {% link "home" %}
  {% link "content test" %}
  {% endmarkdown %}
{% endblock %}
