{% extends "_root/layouts/layout.jinja2" %}

{% meta %}
{"inbound": "content test" }
{% endmeta %}

{% block html %}
  {% markdown %}
Hello, world
===============

  Yo, dawgs

  {% link "home" %}
  some more __markdown__
{% endmarkdown %}
{% endblock %}
