{% extends "_layout/layout.html" %}

{% meta %}
{"inbound": "content test" }
{% endmeta %}

{% block html %}
  {% markdown %}
Hello, world
===============

  Yo, dawgs

  {% link "home" %}
  some more __markdown__
{% endmarkdown %}
{% endblock %}
